<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../static/css/fortio.css">
		<script src="../static/js/echarts.min.js"></script>
		<script src="../static/js/echart_creator.js"></script>
	</head>
	<body>
    <div id="DataChart" style="height: 500px"></div>
    <div id="PercentilesChart" style="height: 500px"></div>
		<script>
			const list =[
				{value:'2022-03-30-112341_1_Fortio.json'},
				{value:'2022-03-30-122645_2_Fortio.json'},
				{value:'2022-03-30-122919_3_Fortio.json'},
				{value:'2022-03-30-162612_4_Fortio.json'},
				{value:'2022-03-30-162646_5_Fortio.json'},
				{value:'2022-03-30-200511_6_Fortio.json'},
			]
      var promises = []
      for (var i = 0, len = list.length; i < len; i++) {
        var v = list[len-i-1].value;
        (function (idx, u) {
          promises.push(fetch("data/"+u).then(doc => doc.json()))
        })(i, v)
      }
      Promise.all(promises).then( (resAry) => {
        renderPercentilesChart(resAry);
				renderDataChart(resAry)
      }).catch(err => { throw err });
		</script>
	</body>
</html>
