/* support dark mode */
:root {
    color-scheme: light dark;
}

input[type="text"] {
    padding: 1px 1px;
    margin-top: 2px;
    margin-bottom: 1px;
    border-style:none none solid none;
    border-width:1px;
    border-color:#aaa;
}
button,input[type="submit"]{
    border-radius:5px;
    background:#00adef;color:#fff;border:none;padding:0 10px 2px 10px;margin:10px 0;line-height:26px;
    transition:all .3s;cursor:pointer;
}
button:hover,input["submit"]:hover{
    background:#1196c9;
}
textarea{
    border:none;box-shadow:0 0 3px 3px rgba(0,0,0,0.1);border-radius:5px;margin:10px 0;padding:8px;
}
#chart1 {
    background-color: white;
}

body {
    /* background-color: hsl(0, 0%, 90%) */
}

@media (prefers-color-scheme: dark) {
    #chart1 {
        background-color: hsl(33, 32%, 88%); /* still 'white'ish but not blindingly white */
    }
    body {
			
    }
}


/*
 from https://www.joshwcomeau.com/css/custom-css-reset/ + modifications
(no 0 margin for instance as that breaks the chart)
*/
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 2.5%;
		padding-bottom: 40px;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

input[type=radio] {
    width: 20px;
    height: 20px;
    appearance: none;
    position: relative;
    outline: none;
    transition:all .3s;cursor:pointer;
}
input[type=radio]:before {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    transition:all .3s;cursor:pointer;
}
input[type=radio]:checked:before {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid #00adef;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}
input[type=radio]:checked:after {
    content: "";
    width: 9px;
    height: 9px;
    text-align: center;
    background: #00adef;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 7px;
    left: 3px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    appearance: none;
    position: relative;
    outline: none;
    transition:all .3s;cursor:pointer;
}
input[type=checkbox]:before {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    display: inline-block;
    border-radius: 4px;
    vertical-align: middle;
    transition:all .3s;cursor:pointer;
}
input[type=checkbox]:checked:before {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid #00adef;
    display: inline-block;
    background: #00adef;
    border-radius: 4px;
    vertical-align: middle;
}
input[type=checkbox]:checked:after {
    content: "✓";
    width: 9px;
    height: 9px;
    color:#fff;
    text-align: center;
    border-radius: 2px;
    display: block;
    position: absolute;
    top: 1px;
    left: 2px;
}

a{color:#00adef;text-decoration: none;}